
.list-inline {
    display: inline;
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
  }

canvas {
    margin: auto;
    border: 0;
    padding: 0;
    display: inline-block;
    margin-right: 20px;
    cursor: crosshair;
    background-color: white;
    margin-top:0;
}

.ColorPalette__list {
    max-width: 180px;
    line-height: 0;
    font-size: 0;
    position: relative;
}
.ColorPalette__color {
    display: inline-block;
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin: 0 5px 5px 0;
    position: relative;
}
.ColorPalette__color.white {
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
}
.ColorPalette__color.no-right {
    margin-right: 0;
}
.ColorPalette__color.active {
    background-image: url(../images/select.svg);
    background-position: 50%;
    background-repeat: no-repeat;
}

.tools{
    display: inline-block;
}
.desktop{
    display: flex;
}

a {
    position: relative;
    display: inline-block;
    padding: 1.2em 2em;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    user-select: none;
    color: white;
    margin-top:20px;
    margin-left: 10px;
}
a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    border-radius: 4px;
    transition: box-shadow 0.5s ease, transform 0.2s ease;
    will-change: transform;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0)) translateZ(var(--tz, -12px));
}
a:hover::before {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
}
a::after {
    position: relative;
    display: inline-block;
    content: attr(data-title);
    transition: transform 0.2s ease;
    font-weight: bold;
    letter-spacing: 0.01em;
    will-change: transform;
    transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0));
}

@import "compass/css3";
 @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);
 .row {
	 max-width: 180px;
	 background: linear-gradient(135deg, #6e8efb, #a777e3);
	 position: relative;
	 z-index: 1;
	 text-align: center;
     border-radius: 15px;
     margin-top: 10px;
}
 .row:before {
	 position: absolute;
	 content: "";
	 display: block;
	 top: 0;
	 height: 50%;
	 width: 180px;
	 z-index: -1;
}

 .row span {
	 position: relative;
	 display: inline-block;
	 margin: 10px 10px;
}
 .basic-slide {
	 display: inline-block;
	 width: 100px;
	 padding: 10px 0 10px 15px;
	 font-family: "Open Sans", sans;
	 font-weight: 400;
	 background:linear-gradient(-135deg, #dab439, #fdfb5f);
	 border: 0;
	 border-radius: 5px;
	 outline: 0;
	 text-indent: 30px;
	 transition: all 0.3s ease-in-out;
}
 .basic-slide + label {
	 display: inline-block;
	 position: absolute;
	 top: 0;
	 left: 0;
	 padding: 8px 13px;
	 background: #efffe5;
	 transition: all 0.3s ease-in-out;
	 border-top-left-radius: 3px;
	 border-bottom-left-radius: 3px;
}

 .basic-slide:focus + label, .basic-slide:active + label {
	 transform: translateX(-90%);
}
#realTimeCoord{
    position: absolute;
    border: 1px solid rgb(46, 152, 200);
    border-radius: 2px;
    background-color: rgb(95, 192, 236);
    left:242px;
    bottom: 15px;
}
 