<div
  id="mb-reaction-box"
  class="mb-reaction-box"
  {{on "mouseenter" (set this "openReactionsMenu" true)}}
  {{on "mouseleave" (set this "openReactionsMenu" false)}}
>
  <div id="mb-reaction-container" class="mb-reaction-container">
    <img src="/assets/images/reacton-box.gif" alt={{t "reaction_box"}} />
  </div>
  {{#if this.openReactionsMenu}}
    <section class="mb-reaction-list">
      <ReactionSelector @chooseReaction={{this.chooseReaction}} />
    </section>
  {{/if}}
</div>