<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BorrowBackMachine.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BF41DB399624A6ECB639B67C08C94D409D2D76C7</string>
				<key>dateExpires</key>
				<string>2019/10/25</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>93J6M69M5S.com.jiehuanjiA.app</string>
				<key>com.apple.developer.team-identifier</key>
				<string>93J6M69M5S</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>93J6M69M5S.com.jiehuanjiA.app</string>
				</array>
			</dict>
			<key>name</key>
			<string>BorrowBackMachine.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>522ea09a-a0b9-4312-ae19-0e87db3e9352</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>93J6M69M5S</string>
				<key>name</key>
				<string>Zhongchuang Wenjiao (Beijing) Digital Technology Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
