<!DOCTYPE html>
<html>
<head>
    <title>「OF COURSE」创意编程-Unity开发-新媒体-算法艺术与科技</title>
    <meta charset="utf-8">
    <meta http-equiv="description" content="OF COURSE 是一个具有国际影响力的创意编程实验室。我们与全球顶尖教授、新媒体艺术家共同研发“OF创意编程课程”，提供最前沿的教学指导，主要涉及：创意编程，Unity开发，新媒体艺术，艺术与科技，算法艺术与相关领域，让学员从零起步成长为创作先锋。同时，也通过研发互动产品、举办艺术展览等方式，为艺术、文化和科技的跨界融合提供更多可能.">
    <meta name="keywords" content="创意编程,Unity开发,新媒体艺术,艺术与科技.算法艺术">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css?t={{handler.time_now}}">
    <style type="text/css">
        
    </style>
</head>
<body>
    <div class="base_area">
        <div class="main_area">
            <div class="card of_top">
                
            </div>
            <div class="card of_first">
                
            </div>
            <div class="card of_ad">
                
            </div>
            <div class="card of_course_ad">
                
            </div>
            <div class="card of_course">
                <div class="card_move card_move_close card_move_line">Online Compulsory Course Series/</div>
                <div class="card_move card_move_close card_move_line of_course_online_compulsory_list">
                    <div class="of_course_online_compulsory_item">
                        <div class="of_course_online_compulsory" style="background-image: url(/static/img/online_compulsory_course/01.png)" data-key="Creative Coding Series">
                            Creative Coding Series</div>
                    </div>
                    <div class="of_course_online_compulsory_item">
                        <div class="of_course_online_compulsory selected" style="background-image: url(/static/img/online_compulsory_course/02.png)" data-key="TouchDesigner Series">
                            TouchDesigner Series</div>
                    </div>
                    <div class="of_course_online_compulsory_item">
                        <div class="of_course_online_compulsory" style="background-image: url(/static/img/online_compulsory_course/03.png)" data-key="Unity Series">
                            Unity Series</div>
                    </div>
                    <div class="of_course_online_compulsory_item">
                        <div class="of_course_online_compulsory" style="background-image: url(/static/img/online_compulsory_course/04.png)" data-key="Unreal Series">
                            Unreal Series</div>
                    </div>
                </div>

                <div class="card_move card_move_close card_move_line">Online Elective Course Series/</div>
                <div class="card_move card_move_close card_move_line of_course_online_elective_list">
                    
                </div>

                <div class="card_move card_move_close card_move_line">Offline Special training class/</div>
                <div class="card_move card_move_close card_move_line of_course_offline_special_list">
                    
                </div>

            </div>
            <div class="card of_foundary comeinpage">
                <div class="card_move card_move_close of_foundary_box" style="top: 70px;left: 150px;">
                    <a target="_blank" href="/foundary"><img class="nocomein" src="/static/img/foundary/box.png?a=1"></a>
                </div>
                <div class="card_move card_move_close of_foundary_box_logo" style="top: 90px;left: 270px;">
                    <a target="_blank" href="/foundary"><img class="nocomein" src="/static/img/foundary/foundary.png?a=1"></a>
                </div>
                <div class="card_move card_move_close of_foundary_box_desc" style="top:80px;left: 420px;">
                    <p class="nocomein">{{ handler._("Add your art work to your workplace")}}</p>
                </div>
                <div class="card_move card_move_close of_foundary_box_about" style="top:200px;left: 160px;">
                    <p class="nocomein" style="font-size: 14px;font-weight: bold;margin-bottom: 5px;">{{ handler._("More Info Title")}}</p>
                    <p class="nocomein" style="font-size: 12px;font-weight: normal;">{{ handler._("More Info Content")}}</p>
                    <p class="nocomein" style="font-size: 12px;font-weight: normal;">{{ handler._("More Info Content1")}}</p>
                    <p class="nocomein" style="font-size: 12px;font-weight: normal;">{{ handler._("More Info Content2")}}</p>
                    <p class="nocomein" style="font-size: 12px;font-weight: normal;">{{ handler._("More Info Content3")}}</p>
                </div>
            </div>
            <div class="card of_footer">
                <div class="card_move card_move_close" style="top: 40px;left: 40px;">
                    <img class="img_logo" src="/static/img/oflogo.png" >
                </div>
                <div class="card_move card_move_close" style="top: 140px;left: 80px;">
                    <a href="/shop" target="_blank"><div class="link_btn_bottom">{{ handler._("Shop") }}</div></a>
                </div>
                <div class="card_move card_move_close" style="top: 140px;left: 200px;">
                    <a href="/contact_us" target="_blank"><div class="link_btn_bottom">{{ handler._("Contact Us") }}</div></a>
                </div>
                <div class="card_move card_move_close" style="top: 140px;left: 320px;">
                    <a href="/terms_of_us" target="_blank"><div class="link_btn_bottom">{{ handler._("Terms of use") }}</div></a>
                </div>
                <div class="card_move card_move_close" style="top: 133px;left: 480px;">
                    <div class="link_btn_left">
                        {{ handler._("ADDRESS") }}
                        <p>{{ handler._("998 Anbo Rd, Building No.1-401, Yangpu, Shanghai") }}</p>
                    </div>
                </div>
                <div class="card_move card_move_close" style="top: 133px;left: 640px;">
                    <div class="link_btn_left">
                        {{ handler._("HOURS")}}
                        <p>{{ handler._("Monday-Friday, 10-7PM")}}</p>
                    </div>
                </div>
                <div class="card_move card_move_close" style="top: 133px;left: 800px;">
                    <div class="link_btn_left">
                        {{ handler._("CONNECT") }}
                        <p>
                            <a target="" href="#wechat" class="wechat_qrcode_show_btn"><img 
                                src="/static/img/share/wechat.png"></a>
                            <a target="_blank" href="https://live.bilibili.com/100933"><img 
                                src="/static/img/share/bili.png"></a>
                            <a target="_blank" href="https://weibo.com/u/7126820846"><img 
                                src="/static/img/share/weibo.png"></a>
                            <a target="_blank" href="https://www.facebook.com/ofcourse.io"><img 
                                src="/static/img/share/fb.png"></a>
                        </p>
                    </div>
                </div>
                <div class="card_move card_move_close" style="top: 90px;left: 812px;">
                    <img class="wechat_qrcode hide" src="/static/img/wechat_qrcode.png">
                </div>
            </div>
            <div class="card of_copyright">
                <p>{{ handler._("©2021 Ofcourse All rights reserved.")}}</p>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript"></script>
<script src="/static/js/index.js?t={{ handler.time_now }}"></script>
<script src="/static/js/card_move.js?t={{ handler.time_now }}"></script>
</html>