<!DOCTYPE html>
<html>
<head>
    <title>登录/注册「OF COURSE」创意编程-Unity开发-新媒体-算法艺术与科技</title>
    <meta charset="utf-8">
    <meta http-equiv="description" content="OF COURSE 是一个具有国际影响力的创意编程实验室。我们与全球顶尖教授、新媒体艺术家共同研发“OF创意编程课程”，提供最前沿的教学指导，主要涉及：创意编程，Unity开发，新媒体艺术，艺术与科技，算法艺术与相关领域，让学员从零起步成长为创作先锋。同时，也通过研发互动产品、举办艺术展览等方式，为艺术、文化和科技的跨界融合提供更多可能.">
    <meta name="keywords" content="创意编程,Unity开发,新媒体艺术,艺术与科技.算法艺术">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
</head>
<body>
    <div>
        <div>email:<input class="email" type="email" name=""></div>
        <div>password:<input class="password" type="text" name=""></div>
        <div>password0:<input class="password0" type="text" name=""></div>
        <div>password1:<input class="password1" type="text" name=""></div>
    </div>
    <div><button class="login">login</button></div>
    <div><button class="register">register</button></div>
    <div><button class="get_vcode">get_vcode</button></div>
    <div><button class="reset_password">reset_password</button></div>

</body>
<script src="/static/js/login.js?t={{ handler.time_now }}"></script>
</html>