<!DOCTYPE html>
<html>
<head>
    <title>FindMaster Main</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script crossorigin src="/static/js/react/react.production.min.js"></script>
    <script crossorigin src="/static/js/react/react-dom.production.min.js"></script>
    <script crossorigin src="/static/js/react/babel.min.js"></script>
    <script src="/static/js/material-ui.production.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/mui/Roboto.css">
    <link rel="stylesheet" type="text/css" href="/static/css/mui/icon.css">
    <style type="text/css">
    </style>
    <script type="text/javascript"></script>
</head>
<body>
    <div>Hello, FindMaster.</div>
    <div id="like_button_container"></div>
    <div id="root"></div>
    <script type="text/babel" src="/static/js/react_dev/test1.js?t={{handler.timer}}"></script>
</body>
</html>