<!DOCTYPE html>
<html>
<head>
    {% if handler.title == "" %}
    <title>Page</title>
    {% else %}
    <title>{{ handler.title }} | Page</title>
    {% end if %}
    <meta charset="utf-8">
    <meta http-equiv="description" content="">
    <meta name="referrer" content="no-referrer">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=0.25, user-scalable=yes" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/js/tools.js?t={{ handler.time_now }}"></script>
    <script type="text/javascript" src="/static/js/clipboard.min.js"></script>
    <script type="text/javascript" src="/static/js/video.min.js"></script>
    <script type="text/javascript" src="/static/js/videojs-contrib-hlsjs.min.js"></script>
    <script type="text/javascript" src="/static/js/dist/web3.min.js"></script>
    <link rel="stylesheet" href="/static/css/video-js.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/page.css?t={{handler.time_now}}">
    <style type="text/css">
        .page_edit_tools{
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .card{
            position: absolute;
            width: fit-content;
        }
        .current_now{
            box-shadow: 0px 0px 0px 2px #03a9f4;
        }
        .dom>div>p{
            min-height: 20px;
        }
        .main_area{
            width: {{ int(handler.main_area.get('w','1024')) }}px;
            height: {{ int(handler.main_area.get('h','0')) }}px;
        }
    </style>
</head>
<body>
    <div class="base_area">
        <div class="main_area">
            {% for dom in handler.doms %}
            <div    id="{{ dom[0] }}" class="card dom dom_{{dom[1]}} {{dom[2].get('s','')}}" 
                    data-tree="{{ dom[0] }}" 
                    style="
                    left: {{dom[2]['x']}}px;
                    top: {{dom[2]['y']}}px;
                    width: {{dom[2].get('w','0')}}px;
                    height: {{dom[2].get('h','0')}}px;
                    z-index: {{dom[2].get('z','0')}};
                    ">
                    <style>{% raw dom[4]%}</style>
                    <div class="sections">
                    {% if dom[3]== "" %}
                    
                        {% if dom[1] in ["text"] %}
                            <div class="section">text</div>
                        {% elif dom[1] in ["button"] %}
                            <div class="section"><button>button</button></div>
                        {% elif dom[1] in ["img"] %}
                            <div class="section"><img src="/static/img/need_add_img.png"></div>
                        {% elif dom[1] in ["video"] %}
                            <div class="section" contenteditable="false"><span class="novideospan">视频未设置</span></div>
                        {% elif dom[1] in ["iframe"] %}
                            <div class="section" contenteditable="false">iframe暂未设置</div>
                        {% else %}
                            <div class="section"><br></div>
                        {% end if %}
                    {% else %}
                        {% if dom[1] in ["video"] %}
                            <div class="section" contenteditable="false">
                                {% if isinstance(dom[3],dict) %}
                                <video id="player_{{dom[0]}}"
                                    width="{{dom[2].get('w','0')}}" height="{{dom[2].get('h','0')}}"
                                    class="video-js vjs-default-skin"
                                    poster = "{{ dom[3].get('poster','http://ofcourse-cdn0.xialiwei.com/8485dd011df647469f30735307c99273_d2b9f24bcf89aacd3da496a252bdeac1?imageView2')}}"
                                    controls
                                    webkit-playsinline="true"
                                    playsinline="true"
                                    >
                                    <source src="{{dom[3].get('src','')}}" type="{{dom[3].get('type','')}}">
                                    <!-- .m3u8 application/x-mpegURL -->
                                </video>
                                <script type="text/javascript">
                                    videojs('#player_{{dom[0]}}');
                                </script>
                                {% else %}
                                视频暂未设置
                                {% end if %}
                            </div>
                        {% elif dom[1] in ["iframe"] %}
                            <div class="section" contenteditable="false">
                                {% if isinstance(dom[3],dict) %}
                                {% raw dom[3].get('html','')%}
                                <script type="text/javascript">
                                    $("#{{dom[0]}}>.sections>.section>iframe").css({
                                        "width":"{{dom[2].get('w','0')}}px",
                                        "height":"{{dom[2].get('h','0')}}px",
                                    })
                                </script>
                                {% else %}
                                iframe暂未设置
                                {% end if %}
                            </div>
                        {% else %}
                            {% raw dom[3] %}
                        {% end if %}
                    {% end if %}
                    </div>
                    <div class="card_move hide"></div>
                    <div class="card_del hide"></div>
                    <div class="resize_btn hide"></div>
            </div>
            {% end for %}
        </div>
    </div>
</body>
<script type="text/javascript">
    var WEBSOCKET_URL = "{{ handler.websocket_url }}";
    var BLOCK_ID = "{{ handler.block_id }}";
    var USER_ID = "{{ handler.user_id }}";
    var PAGE_TYPE = "page";
</script>
<script type="text/javascript" src="/static/js/agora/AgoraRTC_N.js"></script>
<script type="text/javascript" src="/static/js/agora/basicVideoCall.js"></script>
<script type="text/javascript" src="/static/js/page.js?t={{handler.time_now}}"></script>
</html>