<div
  class="layout-head display-flex justify-space-end pv-2"
>
  <div class="display-flex mb-notification">
    {{#if @roomNotice.notice}}
      <p class="nes-balloon from-right align-self-flex-start">
        <span
          class="nes-text {{@roomNotice.notice.type}}"
        >{{@roomNotice.notice.message}}</span>
      </p>
    {{else if @talk}}
      <p class="nes-balloon from-right align-self-flex-start">
        <span
          class="nes-text is-primary"
        >{{@talk}}</span>
      </p>
    {{/if}}
    <i class="nao-nao animate mt-5"></i>
  </div>
</div>