.m-0 {
  margin: 0 !important;
}

.mh-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mv-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.m-1 {
  margin: 4px !important;
}

.mh-1 {
  margin-left: 4px !important;
  margin-right: 4px !important;
}

.mv-1 {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

.mt-1 {
  margin-top: 4px !important;
}

.mb-1 {
  margin-bottom: 4px !important;
}

.ml-1 {
  margin-left: 4px !important;
}

.mr-1 {
  margin-right: 4px !important;
}

.m-2 {
  margin: 8px !important;
}

.mh-2 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.mv-2 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.mt-2 {
  margin-top: 8px !important;
}

.mb-2 {
  margin-bottom: 8px !important;
}

.ml-2 {
  margin-left: 8px !important;
}

.mr-2 {
  margin-right: 8px !important;
}

.m-3 {
  margin: 12px !important;
}

.mh-3 {
  margin-left: 12px !important;
  margin-right: 12px !important;
}

.mv-3 {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

.mt-3 {
  margin-top: 12px !important;
}

.mb-3 {
  margin-bottom: 12px !important;
}

.ml-3 {
  margin-left: 12px !important;
}

.mr-3 {
  margin-right: 12px !important;
}

.m-4 {
  margin: 16px !important;
}

.mh-4 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.mv-4 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.mt-4 {
  margin-top: 16px !important;
}

.mb-4 {
  margin-bottom: 16px !important;
}

.ml-4 {
  margin-left: 16px !important;
}

.mr-4 {
  margin-right: 16px !important;
}

.m-5 {
  margin: 24px !important;
}

.mh-5 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}

.mv-5 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.mt-5 {
  margin-top: 24px !important;
}

.mb-5 {
  margin-bottom: 24px !important;
}

.ml-5 {
  margin-left: 24px !important;
}

.mr-5 {
  margin-right: 24px !important;
}

.m-6 {
  margin: 32px !important;
}

.mh-6 {
  margin-left: 32px !important;
  margin-right: 32px !important;
}

.mv-6 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.mt-6 {
  margin-top: 32px !important;
}

.mb-6 {
  margin-bottom: 32px !important;
}

.ml-6 {
  margin-left: 32px !important;
}

.mr-6 {
  margin-right: 32px !important;
}

.m-7 {
  margin: 48px !important;
}

.mh-7 {
  margin-left: 48px !important;
  margin-right: 48px !important;
}

.mv-7 {
  margin-top: 48px !important;
  margin-bottom: 48px !important;
}

.mt-7 {
  margin-top: 48px !important;
}

.mb-7 {
  margin-bottom: 48px !important;
}

.ml-7 {
  margin-left: 48px !important;
}

.mr-7 {
  margin-right: 48px !important;
}

.m-8 {
  margin: 64px !important;
}

.mh-8 {
  margin-left: 64px !important;
  margin-right: 64px !important;
}

.mv-8 {
  margin-top: 64px !important;
  margin-bottom: 64px !important;
}

.mt-8 {
  margin-top: 64px !important;
}

.mb-8 {
  margin-bottom: 64px !important;
}

.ml-8 {
  margin-left: 64px !important;
}

.mr-8 {
  margin-right: 64px !important;
}

.m-9 {
  margin: 96px !important;
}

.mh-9 {
  margin-left: 96px !important;
  margin-right: 96px !important;
}

.mv-9 {
  margin-top: 96px !important;
  margin-bottom: 96px !important;
}

.mt-9 {
  margin-top: 96px !important;
}

.mb-9 {
  margin-bottom: 96px !important;
}

.ml-9 {
  margin-left: 96px !important;
}

.mr-9 {
  margin-right: 96px !important;
}

.p-0 {
  padding: 0 !important;
}

.ph-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.pv-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.p-1 {
  padding: 4px !important;
}

.ph-1 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.pv-1 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.pt-1 {
  padding-top: 4px !important;
}

.pb-1 {
  padding-bottom: 4px !important;
}

.pl-1 {
  padding-left: 4px !important;
}

.pr-1 {
  padding-right: 4px !important;
}

.p-2 {
  padding: 8px !important;
}

.ph-2 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.pv-2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.pt-2 {
  padding-top: 8px !important;
}

.pb-2 {
  padding-bottom: 8px !important;
}

.pl-2 {
  padding-left: 8px !important;
}

.pr-2 {
  padding-right: 8px !important;
}

.p-3 {
  padding: 12px !important;
}

.ph-3 {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.pv-3 {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.pt-3 {
  padding-top: 12px !important;
}

.pb-3 {
  padding-bottom: 12px !important;
}

.pl-3 {
  padding-left: 12px !important;
}

.pr-3 {
  padding-right: 12px !important;
}

.p-4 {
  padding: 16px !important;
}

.ph-4 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.pv-4 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.pt-4 {
  padding-top: 16px !important;
}

.pb-4 {
  padding-bottom: 16px !important;
}

.pl-4 {
  padding-left: 16px !important;
}

.pr-4 {
  padding-right: 16px !important;
}

.p-5 {
  padding: 24px !important;
}

.ph-5 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.pv-5 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.pt-5 {
  padding-top: 24px !important;
}

.pb-5 {
  padding-bottom: 24px !important;
}

.pl-5 {
  padding-left: 24px !important;
}

.pr-5 {
  padding-right: 24px !important;
}

.p-6 {
  padding: 32px !important;
}

.ph-6 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.pv-6 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.pt-6 {
  padding-top: 32px !important;
}

.pb-6 {
  padding-bottom: 32px !important;
}

.pl-6 {
  padding-left: 32px !important;
}

.pr-6 {
  padding-right: 32px !important;
}

.p-7 {
  padding: 48px !important;
}

.ph-7 {
  padding-left: 48px !important;
  padding-right: 48px !important;
}

.pv-7 {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}

.pt-7 {
  padding-top: 48px !important;
}

.pb-7 {
  padding-bottom: 48px !important;
}

.pl-7 {
  padding-left: 48px !important;
}

.pr-7 {
  padding-right: 48px !important;
}

.p-8 {
  padding: 64px !important;
}

.ph-8 {
  padding-left: 64px !important;
  padding-right: 64px !important;
}

.pv-8 {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}

.pt-8 {
  padding-top: 64px !important;
}

.pb-8 {
  padding-bottom: 64px !important;
}

.pl-8 {
  padding-left: 64px !important;
}

.pr-8 {
  padding-right: 64px !important;
}

.p-9 {
  padding: 96px !important;
}

.ph-9 {
  padding-left: 96px !important;
  padding-right: 96px !important;
}

.pv-9 {
  padding-top: 96px !important;
  padding-bottom: 96px !important;
}

.pt-9 {
  padding-top: 96px !important;
}

.pb-9 {
  padding-bottom: 96px !important;
}

.pl-9 {
  padding-left: 96px !important;
}

.pr-9 {
  padding-right: 96px !important;
}

.display-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-space-between {
  justify-content: space-between !important;
}

.justify-space-end {
  justify-content: flex-end !important;
}

.justify-space-evenly {
  justify-content: space-evenly !important;
}

.justify-space-around {
  justify-content: space-around !important;
}

.relative {
  position: relative !important;
}

.absolute {
  position: absolute !important;
}

.align-items-flex-start {
  align-items: flex-start !important;
}

.align-items-flex-end {
  align-items: flex-end !important;
}

.align-self-flex-start {
  align-self: flex-start !important;
}


.flex-wrap {
  flex-wrap: wrap !important;
}

.align-items-center {
  align-items: center !important;
}

.inline-flex {
  display: inline-flex !important;
}

a {
  text-decoration: none !important;
}

a.link-without-style {
  &,
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: inherit;
  }
}
