@font-face {
  font-family: 'Press Start 2P';
  src: url('/assets/fonts/PressStart2P-Regular.ttf');
}

@font-face {
  font-family: 'Zpix';
  src: url('/assets/fonts/zpix.woff2');
}

html,
body,
pre,
code,
kbd,
samp {
  font-family: 'Press Start 2P', 'Zpix';
}

@import 'ember-modal-dialog/ember-modal-structure';
@import 'ember-modal-dialog/ember-modal-appearance';

// Utils
@import 'utils';

// Components
@import 'components/layout';
@import 'components/reaction-box';
@import 'components/spinner';
@import 'components/dropdown';

// Avatars
@import 'avatars/big-stinky-pete';
@import 'avatars/camel';
@import 'avatars/lineshooter';
@import 'avatars/shine-stein';
@import 'avatars/tight-fisted';
@import 'avatars/yardbird';
@import 'avatars/lora';
@import 'avatars/jonna';
@import 'avatars/nao-nao';

// Reactions
@import 'reactions/coin';
@import 'reactions/curious';
@import 'reactions/like';
@import 'reactions/love';

// Custom
.mb-create-room__badge {
  width: 5.5em;
}

.mb-app-version {
  position: fixed;
  bottom: 24px;
  right: 24px;
}

.mb-room {
  $head-section-offset: -128px;
  margin-top: $head-section-offset;
}

.mb-avatar {
  width: 144px;
}

.mb-notification {
  z-index: 2;
}

.mb-image-with-icon {
  display: flex;
  align-items: center;
}

.mb-lang--zh-hans {
  .mb-image-with-icon {
    align-items: flex-end;
    height: 18px;
  }

  .dropdown-container .nes-btn {
    width: 80px;
  }
}
