<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hyphenate.easeui" >

    <application>
        <activity android:name=".ui.EaseBaiduMapActivity"/>
        <activity android:name=".ui.EaseShowBigImageActivity"/>
        <activity android:name=".ui.EaseShowLocalVideoActivity"/>
        <activity android:name=".ui.EaseShowNormalFileActivity"/>
        <activity android:name=".ui.EaseShowVideoActivity"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.dong.circlelive.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider" />
        </provider>

    </application>
</manifest>
