.dropdown-container {
  width: 48px;
  height: 48px;
  z-index: 3;
  position: relative;

  ul {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 48px;
    visibility: hidden;
  }

  li {
    list-style-type: none;
  }

  .nes-btn {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: start;
  }
}

.dropdown-container:hover ul {
  visibility: visible;
}

.mb-avatar--small {
  transform: scale(0.5) translate(-50%, -50%);
}
