$bottom-nav-height: 80px;

.layout-container {
  width: 100vw;
  padding-bottom: $bottom-nav-height;
  display: flex;
  flex-direction: column;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $bottom-nav-height;
  background: white;
}

.layout-body {
  display: flex;
  position: relative;
  flex-grow: 1;
}

.layout-body__container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.mb-message-container {
  max-height: 272px;
  overflow-y: scroll;
}

.mb-message-form {
  width: 100%;
  display: flex;
  align-items: center;
}

.mb-message-input {
  flex-grow: 1;
}

.mb-message-item {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.mb-message-item-avatar-container {
  width: 48px;
  height: 48px;
}

@media all and (min-width: 800px) {
  .layout-body__container {
    width: 800px;
  }

  .bottom-nav-content {
    width: 800px;
    margin: auto;
  }
}
