.mb-reaction-box {
  $bottom-nav-height: 80px;
  $reaction-box-offset: 32px;

  position: fixed;
  left: 32px;
  bottom: $bottom-nav-height + $reaction-box-offset;
  display: flex;
  align-items: center;
}

.mb-reaction-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.mb-reaction-list {
  padding: 8px 16px;
  background-color: #F0F0F0;
  margin-left: 16px;
  border-radius: 10px;
}
