.lineshooter {
  position: relative;
  display: inline-block;
  width: 96px;
  height: 96px;

  &::before {
    content: '';
    position: absolute;
    top: -6px;
    left: -6px;
    width: 6px;
    height: 6px;
    background: transparent;

    box-shadow: 6px 6px 0 transparent, 12px 6px 0 transparent,
      18px 6px 0 rgb(0, 0, 0), 24px 6px 0 rgb(0, 0, 0), 30px 6px 0 rgb(0, 0, 0),
      36px 6px 0 rgb(0, 0, 0), 42px 6px 0 rgb(0, 0, 0), 48px 6px 0 rgb(0, 0, 0),
      54px 6px 0 rgb(0, 0, 0), 60px 6px 0 rgb(0, 0, 0), 66px 6px 0 rgb(0, 0, 0),
      72px 6px 0 rgb(0, 0, 0), 78px 6px 0 rgb(0, 0, 0), 84px 6px 0 rgb(0, 0, 0),
      90px 6px 0 transparent, 96px 6px 0 transparent, 6px 12px 0 transparent,
      12px 12px 0 rgb(0, 0, 0), 18px 12px 0 rgb(143, 102, 255),
      24px 12px 0 rgb(143, 102, 255), 30px 12px 0 rgb(143, 102, 255),
      36px 12px 0 rgb(143, 102, 255), 42px 12px 0 rgb(223, 175, 109),
      48px 12px 0 rgb(223, 175, 109), 54px 12px 0 rgb(223, 175, 109),
      60px 12px 0 rgb(223, 175, 109), 66px 12px 0 rgb(174, 137, 86),
      72px 12px 0 rgb(143, 102, 255), 78px 12px 0 rgb(143, 102, 255),
      84px 12px 0 rgb(143, 102, 255), 90px 12px 0 rgb(0, 0, 0),
      96px 12px 0 transparent, 6px 18px 0 rgb(0, 0, 0),
      12px 18px 0 rgb(143, 102, 255), 18px 18px 0 rgb(143, 102, 255),
      24px 18px 0 rgb(143, 102, 255), 30px 18px 0 rgb(143, 102, 255),
      36px 18px 0 rgb(223, 175, 109), 42px 18px 0 rgb(223, 175, 109),
      48px 18px 0 rgb(223, 175, 109), 54px 18px 0 rgb(223, 175, 109),
      60px 18px 0 rgb(223, 175, 109), 66px 18px 0 rgb(223, 175, 109),
      72px 18px 0 rgb(174, 137, 86), 78px 18px 0 rgb(143, 102, 255),
      84px 18px 0 rgb(143, 102, 255), 90px 18px 0 rgb(143, 102, 255),
      96px 18px 0 rgb(0, 0, 0), 6px 24px 0 rgb(0, 0, 0),
      12px 24px 0 rgb(143, 102, 255), 18px 24px 0 rgb(143, 102, 255),
      24px 24px 0 rgb(223, 175, 109), 30px 24px 0 rgb(223, 175, 109),
      36px 24px 0 rgb(174, 137, 86), 42px 24px 0 rgb(223, 175, 109),
      48px 24px 0 rgb(223, 175, 109), 54px 24px 0 rgb(223, 175, 109),
      60px 24px 0 rgb(223, 175, 109), 66px 24px 0 rgb(223, 175, 109),
      72px 24px 0 rgb(223, 175, 109), 78px 24px 0 rgb(174, 137, 86),
      84px 24px 0 rgb(143, 102, 255), 90px 24px 0 rgb(143, 102, 255),
      96px 24px 0 rgb(0, 0, 0), 6px 30px 0 rgb(0, 0, 0),
      12px 30px 0 rgb(143, 102, 255), 18px 30px 0 rgb(223, 175, 109),
      24px 30px 0 rgb(223, 175, 109), 30px 30px 0 rgb(174, 137, 86),
      36px 30px 0 rgb(234, 204, 184), 42px 30px 0 rgb(223, 175, 109),
      48px 30px 0 rgb(223, 175, 109), 54px 30px 0 rgb(223, 175, 109),
      60px 30px 0 rgb(174, 137, 86), 66px 30px 0 rgb(223, 175, 109),
      72px 30px 0 rgb(223, 175, 109), 78px 30px 0 rgb(223, 175, 109),
      84px 30px 0 rgb(174, 137, 86), 90px 30px 0 rgb(143, 102, 255),
      96px 30px 0 rgb(0, 0, 0), 6px 36px 0 rgb(0, 0, 0),
      12px 36px 0 rgb(143, 102, 255), 18px 36px 0 rgb(223, 175, 109),
      24px 36px 0 rgb(174, 137, 86), 30px 36px 0 rgb(234, 204, 184),
      36px 36px 0 rgb(234, 204, 184), 42px 36px 0 rgb(234, 204, 184),
      48px 36px 0 rgb(234, 204, 184), 54px 36px 0 rgb(223, 175, 109),
      60px 36px 0 rgb(223, 175, 109), 66px 36px 0 rgb(174, 137, 86),
      72px 36px 0 rgb(223, 175, 109), 78px 36px 0 rgb(223, 175, 109),
      84px 36px 0 rgb(174, 137, 86), 90px 36px 0 rgb(143, 102, 255),
      96px 36px 0 rgb(0, 0, 0), 6px 42px 0 rgb(0, 0, 0),
      12px 42px 0 rgb(143, 102, 255), 18px 42px 0 rgb(223, 175, 109),
      24px 42px 0 rgb(234, 204, 184), 30px 42px 0 rgb(234, 204, 184),
      36px 42px 0 rgb(234, 204, 184), 42px 42px 0 rgb(234, 204, 184),
      48px 42px 0 rgb(234, 204, 184), 54px 42px 0 rgb(234, 204, 184),
      60px 42px 0 rgb(223, 175, 109), 66px 42px 0 rgb(174, 137, 86),
      72px 42px 0 rgb(223, 175, 109), 78px 42px 0 rgb(223, 175, 109),
      84px 42px 0 rgb(174, 137, 86), 90px 42px 0 rgb(143, 102, 255),
      96px 42px 0 rgb(0, 0, 0), 6px 48px 0 rgb(0, 0, 0),
      12px 48px 0 rgb(143, 102, 255), 18px 48px 0 rgb(59, 59, 59),
      24px 48px 0 rgb(59, 59, 59), 30px 48px 0 rgb(59, 59, 59),
      36px 48px 0 rgb(59, 59, 59), 42px 48px 0 rgb(59, 59, 59),
      48px 48px 0 rgb(59, 59, 59), 54px 48px 0 rgb(59, 59, 59),
      60px 48px 0 rgb(59, 59, 59), 66px 48px 0 rgb(59, 59, 59),
      72px 48px 0 rgb(174, 137, 86), 78px 48px 0 rgb(234, 204, 184),
      84px 48px 0 rgb(174, 137, 86), 90px 48px 0 rgb(143, 102, 255),
      96px 48px 0 rgb(0, 0, 0), 6px 54px 0 rgb(0, 0, 0),
      12px 54px 0 rgb(143, 102, 255), 18px 54px 0 rgb(59, 59, 59),
      24px 54px 0 rgb(59, 59, 59), 30px 54px 0 rgb(59, 59, 59),
      36px 54px 0 rgb(59, 59, 59), 42px 54px 0 rgb(234, 204, 184),
      48px 54px 0 rgb(59, 59, 59), 54px 54px 0 rgb(59, 59, 59),
      60px 54px 0 rgb(59, 59, 59), 66px 54px 0 rgb(59, 59, 59),
      72px 54px 0 rgb(234, 204, 184), 78px 54px 0 rgb(222, 185, 160),
      84px 54px 0 rgb(174, 137, 86), 90px 54px 0 rgb(143, 102, 255),
      96px 54px 0 rgb(0, 0, 0), 6px 60px 0 rgb(0, 0, 0),
      12px 60px 0 rgb(143, 102, 255), 18px 60px 0 rgb(223, 176, 109),
      24px 60px 0 rgb(59, 59, 59), 30px 60px 0 rgb(59, 59, 59),
      36px 60px 0 rgb(234, 204, 184), 42px 60px 0 rgb(234, 204, 184),
      48px 60px 0 rgb(234, 204, 184), 54px 60px 0 rgb(59, 59, 59),
      60px 60px 0 rgb(59, 59, 59), 66px 60px 0 rgb(234, 204, 184),
      72px 60px 0 rgb(222, 185, 160), 78px 60px 0 rgb(223, 176, 109),
      84px 60px 0 rgb(174, 137, 86), 90px 60px 0 rgb(143, 102, 255),
      96px 60px 0 rgb(0, 0, 0), 6px 66px 0 rgb(0, 0, 0),
      12px 66px 0 rgb(143, 102, 255), 18px 66px 0 rgb(223, 176, 109),
      24px 66px 0 rgb(234, 204, 184), 30px 66px 0 rgb(234, 204, 184),
      36px 66px 0 rgb(234, 204, 184), 42px 66px 0 rgb(234, 204, 184),
      48px 66px 0 rgb(234, 204, 184), 54px 66px 0 rgb(234, 204, 184),
      60px 66px 0 rgb(234, 204, 184), 66px 66px 0 rgb(234, 204, 184),
      72px 66px 0 rgb(223, 176, 109), 78px 66px 0 rgb(223, 176, 109),
      84px 66px 0 rgb(174, 137, 86), 90px 66px 0 rgb(143, 102, 255),
      96px 66px 0 rgb(0, 0, 0), 6px 72px 0 rgb(0, 0, 0),
      12px 72px 0 rgb(143, 102, 255), 18px 72px 0 rgb(223, 176, 109),
      24px 72px 0 rgb(234, 204, 184), 30px 72px 0 rgb(234, 204, 184),
      36px 72px 0 rgb(234, 204, 184), 42px 72px 0 rgb(234, 204, 184),
      48px 72px 0 rgb(234, 204, 184), 54px 72px 0 rgb(234, 204, 184),
      60px 72px 0 rgb(234, 204, 184), 66px 72px 0 rgb(222, 185, 160),
      72px 72px 0 rgb(223, 176, 109), 78px 72px 0 rgb(223, 176, 109),
      84px 72px 0 rgb(174, 137, 86), 90px 72px 0 rgb(143, 102, 255),
      96px 72px 0 rgb(0, 0, 0), 6px 78px 0 rgb(0, 0, 0),
      12px 78px 0 rgb(143, 102, 255), 18px 78px 0 rgb(223, 176, 109),
      24px 78px 0 rgb(174, 137, 86), 30px 78px 0 rgb(234, 204, 184),
      36px 78px 0 rgb(234, 204, 184), 42px 78px 0 rgb(234, 204, 184),
      48px 78px 0 rgb(234, 204, 184), 54px 78px 0 rgb(234, 204, 184),
      60px 78px 0 rgb(222, 185, 160), 66px 78px 0 rgb(222, 185, 160),
      72px 78px 0 rgb(223, 176, 109), 78px 78px 0 rgb(174, 137, 86),
      84px 78px 0 rgb(174, 137, 86), 90px 78px 0 rgb(143, 102, 255),
      96px 78px 0 rgb(0, 0, 0), 6px 84px 0 rgb(0, 0, 0),
      12px 84px 0 rgb(143, 102, 255), 18px 84px 0 rgb(223, 176, 109),
      24px 84px 0 rgb(174, 137, 86), 30px 84px 0 rgb(143, 102, 255),
      36px 84px 0 rgb(234, 204, 184), 42px 84px 0 rgb(234, 204, 184),
      48px 84px 0 rgb(234, 204, 184), 54px 84px 0 rgb(222, 185, 160),
      60px 84px 0 rgb(143, 102, 255), 66px 84px 0 rgb(223, 176, 109),
      72px 84px 0 rgb(223, 176, 109), 78px 84px 0 rgb(174, 137, 86),
      84px 84px 0 rgb(143, 102, 255), 90px 84px 0 rgb(143, 102, 255),
      96px 84px 0 rgb(0, 0, 0), 6px 90px 0 transparent, 12px 90px 0 rgb(0, 0, 0),
      18px 90px 0 rgb(143, 102, 255), 24px 90px 0 rgb(174, 137, 86),
      30px 90px 0 rgb(143, 102, 255), 36px 90px 0 rgb(143, 102, 255),
      42px 90px 0 rgb(143, 102, 255), 48px 90px 0 rgb(143, 102, 255),
      54px 90px 0 rgb(143, 102, 255), 60px 90px 0 rgb(143, 102, 255),
      66px 90px 0 rgb(223, 176, 109), 72px 90px 0 rgb(143, 102, 255),
      78px 90px 0 rgb(143, 102, 255), 84px 90px 0 rgb(143, 102, 255),
      90px 90px 0 rgb(0, 0, 0), 96px 90px 0 transparent, 6px 96px 0 transparent,
      12px 96px 0 transparent, 18px 96px 0 rgb(0, 0, 0),
      24px 96px 0 rgb(0, 0, 0), 30px 96px 0 rgb(0, 0, 0),
      36px 96px 0 rgb(0, 0, 0), 42px 96px 0 rgb(0, 0, 0),
      48px 96px 0 rgb(0, 0, 0), 54px 96px 0 rgb(0, 0, 0),
      60px 96px 0 rgb(0, 0, 0), 66px 96px 0 rgb(0, 0, 0),
      72px 96px 0 rgb(0, 0, 0), 78px 96px 0 rgb(0, 0, 0),
      84px 96px 0 rgb(0, 0, 0), 90px 96px 0 transparent, 96px 96px 0 transparent;
  }
}
