PORT=:9999
HOST=127.0.0.1

DBMaster=root:123456@tcp(localhost:3306)/ITalking?parseTime=True

REDIS_ADDRESS=localhost:6379
REDIS_PASSWORD=
REDIS_SECRET= Your Configuration

WEB_ADDRESS=https://italking.tomotoes.com
COOKIE_DOMAIN=.tomotoes.com
SAME_SITE=4

AGORA_APP_ID= Your Configuration
AGORA_CERTIFICATE= Your Configuration