<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   makeMusicBuilder.plist
   SmartPiano

   Created by xy on 2018/5/23.
   Copyright (c) 2018年 Ydtec. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
